<html>
    <head>
        <title>Mockup</title>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.10/angular.min.js"></script>
        <script src="http://code.angularjs.org/1.2.10/angular-animate.min.js"></script>
        <script src="keymaster.js"></script>
        <script src="game.js"></script>
        <link rel="stylesheet" type="text/css" href="game.css">
    </head>
    <body>
        <div class="game" ng-app="Game" ng-controller="Gameplay">
            <div class="graphics">
                <div class="wall-near left" style="background-position: -{{((tiles.near.center.type-1)*112)}}px 0px;" ng-show="tiles.near.left.solid"></div>
                <div class="wall-near left path" style="background-position: -{{((tiles.near.left.type-1)*56)}}px 0px;" ng-show="!tiles.near.left.solid && tiles.far.left.solid"></div>

                <div class="wall-near right" style="background-position: -{{((tiles.near.center.type-1)*112)+56}}px 0px;" ng-show="tiles.near.right.solid"></div>
                <div class="wall-near right path" style="background-position: -{{(tiles.near.right.type-1)*56}}px 0px;" ng-show="!tiles.near.right.solid && tiles.far.right.solid"></div>
                                
                <div class="wall-far left" style="background-position: -{{(tiles.far.center.type-1)*56}}px 0px;" ng-show="tiles.far.left.solid"></div>
                <div class="wall-far left path" style="background-position: -{{((tiles.far.left.type-1)*28)}}px 0px;" ng-show="!tiles.far.left.solid"></div>

                <div class="wall-far right" style="background-position: -{{((tiles.far.center.type-1)*56)+28}}px 0px;" ng-show="tiles.far.right.solid"></div>
                <div class="wall-far right path" style="background-position: -{{((tiles.far.right.type-1)*28)}}px 0px;" ng-show="!tiles.far.right.solid"></div>
                
                <div class="wall-back"  style="background-position: -{{(tiles.near.center.type-1)*80}}px 0px;" ng-show="tiles.far.center.solid"></div>
                <div class="encounter" ng-show="tiles.far.center.encounter"></div>
                <div class="combat" combat="{{tiles.far.center.encounter.stats}}" ng-if="tiles.far.center.encounter">
                    <div class="actions">
                        <div class="icon small select" move go="{{ready}}" max="{{width}}" step="{{step}}" rate="{{rate}}" ng-show="ready"></div>
                        <div class="icon small" ng-class="action.type" style="left: {{action.position}}px" ng-repeat="action in actions"></div>
                    </div>
                    <div class="timebar">
                        <div class="time" ng-class="action.type" style="left: {{action.position}}px" ng-repeat="action in bar"></div>
                    </div>
                </div>
            </div>
            <div class="text" phrase="{{text}}"></div>
            <div class="map">
                <div class="map-row" ng-repeat="row in map track by $index">
                    <div class="map-tile" 
                         ng-repeat="tile in row track by $index" 
                         ng-class="{visited: tile.status==1, current: tile.status==2, solidRock: tile.solid && tile.type==1, solidDirt: tile.solid && tile.type == 2}"></div>
                </div>
            </div>
            <div class="stats">
                <div class="stat">
                    <div class="item" style="background-position: -860px 0px;"></div>
                    <div letter="=" class="letter big" large="true"></div>
                    <div letter="{{stats.health}}" class="letter big" large="true"></div>
                </div> 
                <div class="stat">
                    <div class="item" style="background-position: -32px 0px;"></div>
                    <div letter="=" class="letter big" large="true"></div>
                    <div letter="{{stats.attack}}" class="letter big" large="true"></div>
                </div>      
                <div class="stat">
                    <div class="item" style="background-position: -256px 0px;"></div>
                    <div letter="=" class="letter big" large="true"></div>
                    <div letter="{{stats.defense}}" class="letter big" large="true"></div>
                </div> 
            </div>
            <div class="items">
                <div class="item-slot" style="background-position: -66px 0px;"></div>
                <div class="item-slot" style="background-position: -798px 0px;"></div>
                <div class="item-slot"></div>
            </div>
        </div>
    </body>
</html>